<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarships</title>
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Available Scholarships</h1>
        <a href="/" class="back-button">Back to Home</a>
    </header>

    <section class="scholarship-container">
        <div class="scholarship-box">
            <img class = "imge-placeholder" src = "../static/Images/Questbridge_icon.png" alt="Questbridge Logo">
            <h2>Questbridge National College Match</h2>
            <p>The QuestBridge National College Match is a competitive scholarship program that helps high-achieving, low-income students gain admission to top U.S. colleges with full-ride scholarships, covering tuition, room, board, and other expenses.</p>
            <a href="https://www.questbridge.org/apply-to-college/programs/national-college-match">Learn More</a>
        </div>

        <div class="scholarship-box">
            <img class = "imge-placeholder" src = "../static/Images/Gates_icon.png" alt="Gates Logo">
            <h2>The Gates Scholarship</h2>
            <p>The Gates Scholarship supports high school seniors from minority backgrounds who demonstrate financial need. The scholarship covers the full cost of attendance, including tuition, fees, room, and board, with no cap on funding.</p>
            <a href="https://www.thegatesscholarship.org">Learn More</a>
        </div>

        <div class="scholarship-box">
            <img class = "imge-placeholder" src = "../static/Images/JKC_icon.png" alt="JCK Logo">
            <h2>Jack Kent Cooke Undergraduate College Scholarship</h2>
            <p>The Cooke College Scholarship Program is an undergraduate scholarship program available to high-achieving high school seniors with financial need who seek to attend and graduate from the nation's best four-year colleges and universities.</p>
            <a href="https://www.jkcf.org/our-scholarships/college-scholarship-program/">Learn More</a>
        </div>

        <div class="scholarship-box">
            <img class = "imge-placeholder" src = "../static/Images/Coke_icon.png" alt="Coke Logo">
            <h2>Coca-Cola Scholars Foundation</h2>
            <p>The Coca-Cola Scholars Program offers scholarships to high school seniors who demonstrate leadership, service, and academic excellence. Each year, 150 Coca-Cola Scholars are selected to receive up to $20,000 in college scholarships. The program is open to U.S. citizens or permanent residents attending high school in the United States.</p>
            <a href="https://www.coca-colascholarsfoundation.org/">Learn More</a>
        </div>

        <div class="scholarship-box">
            <img class = "imge-placeholder" src = "../static/Images/Jackie_icon.png" alt="Jackie Robinson Logo">
            <h2>Jackie Robinson Foundation Scholarship</h2>
            <p>The Jackie Robinson Foundation offers the Jackie Robinson Scholarship to high school seniors who demonstrate academic excellence, leadership, and a commitment to community service. Open to minority students who are U.S. citizens, the scholarship awards up to $30,000 over four years to cover tuition and educational expenses. In addition to financial support, recipients receive mentoring, career guidance, and networking opportunities to help them succeed in their educational and professional journeys</p>
            <a href="https://jackierobinson.org/scholarship/">Learn More</a>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Scholarship Page. All rights reserved.</p>
    </footer>
</body>
</html>
